@font-face {
    font-family: 'IBMlexSans';
    src: url('../../Cinema_Tash/fonts/IBMPlexSans-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'IBMlexSans';
    src: url('../../Cinema_Tash/fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
}


@font-face {
    font-family: 'IBMlexSans';
    src: url('../../Cinema_Tash/fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
}

h1 {
    color: springgreen;
    font-size: 45px;
}

.text_1 {
    color:black !important;
}

.text{
    color: red;
}

.text {
    color: black;
    border: inherit;
    font-size: inherit;
}

.parent {
    border: 6px solid red;
    font-size: 22px;
}

.blok__text{
    border: inherit;
}

.blok__text__two{
    border: initial;
}

.blok__text__three{
    border: unset;
}

.text_1 {
    color: rgb(0, 6, 8);
}

.favourite{
    color: springgreen!important;
}

ul#summer-drinks li {
    font-weight: normal;
    font-size: 30px;
    color: black;
}

.favourite{
    color: springgreen;
}

p{
    color: hotpink;
}

.text{
    color: black;
}

#tex{
    color: lime;
}

.t1 {
    color: tomato;
}

.t2{
    color: coral;
}

#texts{
    color: springgreen;
}

#kombinator_check > .kombinator_check__text{
    color: crimson;
    font-size: 50px;
    line-height: 20px;
}

#kombinator_check .kombinator_check__text{
    color: darkblue;
    font-size: 25px;
    line-height: 30px;
}

p:not(.classy) { color: red; }
body :not(p) { color: green; }